<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
                  <form method="post" action="{% url 'updateservc' servcid=service.id %}" enctype="multipart/form-data">
                  {% csrf_token %}
                      <h1 class="h3 mb-0 text-gray-800"> <b>Edit Service </b></h1><br><br>

                    <div class="form-group">
                      <label for="exampleInputPassword1">Service</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Name of Service"
                             name="sname" value="{{service.service_name}}">
                    </div>
                      <br>
                      <div class="form-group">
                      <label for="exampleInputPassword1">Description</label>
                      <textarea class="form-control" aria-label="With textarea" placeholder="Enter the Description"
                                name="sdescript">{{service.Description}}</textarea>
                      </div>
                      <br>
                    <div class="form-group">
                        <label>Image</label><br>
                          <img src="{{service.Image.url}}" width="200px" height="150px">
                      <input type="file"  name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
</body>
</html>
{% endblock %}